[build-system]
requires = ["flit"]
build-backend = "flit.buildapi"

[tool.flit.metadata]
module = "dnnv"
author = "David Shriver"
author-email = "dls2fc@virginia.edu"
home-page = "https://github.com/dlshriver/DNNV"
description-file = "README.md"
requires = [
    "numpy >=1.18,<1.20",
    "onnx >=1.7,<1.8",
    "psutil >=5.6,<5.7",
    "scipy >=1.4,<1.6",
    "tensorflow >=1.15,<2.3",
    "keras >=2.3,<2.4",
    "simpleparse >=2.2,<2.3",
    "torch >=1.5,<1.7",
    "torchvision >=0.6,<0.8"
]
requires-python = ">=3.7"

[tool.flit.metadata.requires-extra]
test = ["toml >=0.10,<0.11", "coverage >=5.0,<5.3"]
doc = ["sphinx"]
dev = ["black", "mypy"]

[tool.flit.scripts]
dnnv = "dnnv.__main__:_main"

[tool.coverage.run]
branch = true
command_line = "-m unittest discover -v -p *_tests.py"
# concurrency = ["multiprocessing", "thread"]
parallel = true
source = ["dnnv"]
