# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install DNNV
        run: |
          python -m venv .venv
          . .venv/bin/activate
          pip install --upgrade pip flit
          flit install

      - name: "Install Verifier: Reluplex"
        run: |
          . .venv/bin/activate
          dnnv_manage install reluplex
          rm -rf ~/.cache/dnnv

      - name: "Install Verifier: Planet"
        run: |
          . .venv/bin/activate
          dnnv_manage install planet
          rm -rf ~/.cache/dnnv

      - name: "Install Verifier: Neurify"
        run: |
          . .venv/bin/activate
          dnnv_manage install neurify
          rm -rf ~/.cache/dnnv

      - name: "Install Verifier: ERAN"
        run: |
          . .venv/bin/activate
          dnnv_manage install eran
          rm -rf ~/.cache/dnnv

      - name: "Install Verifier: Marabou"
        run: |
          . .venv/bin/activate
          dnnv_manage install marabou
          rm -rf ~/.cache/dnnv

      - name: "Install Verifier: nnenum"
        run: |
          . .venv/bin/activate
          dnnv_manage install nnenum
          rm -rf ~/.cache/dnnv

      - name: Prepare Test Artifacts
        run: |
          . .venv/bin/activate
          python tests/system_tests/artifacts/build_artifacts.py

      - name: Run DNNV Test Suite
        run: |
          export TF_CPP_MIN_LOG_LEVEL=3
          . .venv/bin/activate
          coverage run
          coverage combine
          coverage xml

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v1
